<div class="jumbotron">
	<h1>About me...</h1>
	<p>My name is Przemski and I am creating app Picturowo</p>
	<%= link_to 'About', about_path, class: 'btn btn-primary' %>
	<%= link_to 'Home', root_path, class: 'btn btn-default' %>
</div>